/* Styling of the navigation bar at the top of the page and the body */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 6px 0px 0px 0px;
    overflow: hidden;
    background-color: #00BCEF;
    position: fixed;
    top: 0;
    width: 99.35%;
    border-top: 3px solid rgb(108, 108, 108);
    border-bottom: 3px solid rgb(108, 108, 108);
    z-index: 1000;
    text-align: center;
}
.li {
    display: inline-block;
    font-size: 28px;
    color: black;
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f8e9c2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.li:first-child {
    padding-right: 4%;
    display: inline-block;
}
.li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f8e9c2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.li a:hover {
    color: #00BCEF;
}
.li img {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 12px;
    vertical-align: middle;
}
.logo {
    background-color: #00BCEF;
}


/* body styling */
body {
    float: left;
    margin: 0px;
    padding-top: 80px;
    border-left: 5px solid rgb(108, 108, 108);
    border-right: 5px solid rgb(108, 108, 108);
    background-color: #f5dfa9;
    background-image: url("https://storage.googleapis.com/beat-buddy/sand.jpg")
}
h1 {
    color: #f8e9c2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div styling */
/* about div */
#about {
    margin: 0 auto;
    padding: 15px;
    margin-top: 35px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-top: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

#updates {
    margin: 0 auto;
    padding: 15px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* commands div */
#commands {
    margin: 0 auto;
    padding: 15px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* invite div */
#invite {
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 35px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* general header, centered paragraph, left-side paragraph, unorganized list, and invite button styling */
.header {
    color: #f8e9c2;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 4px solid rgb(108, 108, 108);
}
.paragraph {
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: auto;
    text-align: center;
}
.aboutParagraph {
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: auto;
    text-align: left;
}
.paragraph a {
    color: black;
}
.paragraph a:hover {
    color: #f5dfa9;
    text-underline-position: below;
}
.ulist {
    color: black;
    position: relative;
    list-style-type: circle;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    width: 45%;
    margin: auto;
    padding: auto;
}
.creditline{
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.creditline a {
    color: black;
}
.creditline a:hover {
    color: #f5dfa9;
    text-underline-position: below;
}


/* COMMANDS AND ACTIONS STYLING -- ALL GOOD */
/* General table styling */
#generalTable {
    width: auto;
    margin-left: 21%;
    margin-right: 21%;
    border: 3px solid rgb(108, 108, 108);
    position: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5dfa9;
}
.genCommand {
    width: 25%;
    color: #0073ff;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.genAction {
    width: auto;
    color: black;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-left: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.lastGenCommand {
    color: #0073ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid rgb(108, 108, 108);
    text-align: center;
}
.lastGenAction {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid rgb(108, 108, 108);
    text-align: left;
}
/* Music table styling */
#musicTable {
    width: auto;
    margin-left: 21%;
    margin-right: 21%;
    border: 3px solid rgb(108, 108, 108);
    position: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5dfa9;
}
.musicCommand {
    width: 25%;
    color: #0073ff;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.musicAction {
    width: auto;
    color: black;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-left: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.lastMusicCommand {
    color: #0073ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid rgb(108, 108, 108);
    text-align: center;
}
.lastMusicAction {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid rgb(108, 108, 108);
    text-align: left;
}


/* Styling of the invite button */
.invitebutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #00BCEF;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(56, 56, 56);
    background-color: #f5dfa9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(83, 83, 83);
}
.invitebutton:hover {
    background-color: #fdd369;
}
.invitebutton:active {
    background-color: #fdd369;
    box-shadow: 0 5px rgb(59, 59, 59);
    transform: translateY(4px);
}

@media only screen and (min-device-width : 300px) and (max-device-width : 800px) {
    /* Styling of the navigation bar at the top of the page and the body */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    background-color: #00BCEF;
    position: fixed;
    top: 0;
    width: 98.8%;
    border-top: 3px solid rgb(108, 108, 108);
    border-bottom: 3px solid rgb(108, 108, 108);
    z-index: 1000;
    text-align: center;
}
.li {
    display: inline-block;
    font-size: 18px;
    color: black;
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f8e9c2;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black;
}
.li:first-child {
    padding-right: 4%;
    display: inline-block;
}
.li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    color: #f8e9c2;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black;
}
.li a:hover {
    color: #00BCEF;
}
.li img {
    display: none;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.logo {
    display: none; /* added before stopping last night, not in effect yet */
    background-color: #00BCEF;
}

/* body styling */
body {
    float: left;
    margin: 0px;
    padding-top: 60px;
    border-left: 5px solid rgb(108, 108, 108);
    border-right: 5px solid rgb(108, 108, 108);
    background-color: #f5dfa9;
    background-image: url("https://storage.googleapis.com/beat-buddy/sand.jpg");
    height: fit-content;
}
h1 {
    color: #f8e9c2;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div styling */
/* about div */
#about {
    margin: 0 auto;
    padding: 15px;
    margin-top: 35px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-top: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* commands div */
#commands {
    margin: 0 auto;
    padding: 15px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* invite div */
#invite {
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 35px;
    width: 75%;
    text-align: center;
    border-left: 3px solid rgb(108, 108, 108);
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 3px solid rgb(108, 108, 108);
    background-color: #00BCEF;
}

/* general header, centered paragraph, left-side paragraph, unorganized list, and invite button styling */
.header {
    color: #f8e9c2;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid rgb(108, 108, 108);
}
.paragraph {
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
}
.aboutParagraph {
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    text-align: left;
}
.paragraph a {
    color: black;
}
.paragraph a:hover {
    color: #f5dfa9;
    text-underline-position: below;
}
.ulist {
    color: black;
    position: relative;
    list-style-type:square;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    width: 70%;
    margin: auto;
    padding: auto;
}
.creditline{
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.creditline a {
    color: black;
}
.creditline a:hover {
    color: #f5dfa9;
    text-underline-position: below;
}


/* COMMANDS AND ACTIONS STYLING -- ALL GOOD */
/* General table styling */
#generalTable {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid rgb(108, 108, 108);
    position: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5dfa9;
}
.genCommand {
    width: 25%;
    color: #0073ff;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.genAction {
    width: auto;
    color: black;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-left: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.lastGenCommand {
    color: #0073ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid rgb(108, 108, 108);
    text-align: center;
}
.lastGenAction {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid rgb(108, 108, 108);
    text-align: left;
}
/* Music table styling */
#musicTable {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid rgb(108, 108, 108);
    position: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5dfa9;
}
.musicCommand {
    width: 25%;
    color: #0073ff;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-right: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.musicAction {
    width: auto;
    color: black;
    border-bottom: 3px solid rgb(108, 108, 108);
    border-left: 2px solid rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.lastMusicCommand {
    color: #0073ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid rgb(108, 108, 108);
    text-align: center;
}
.lastMusicAction {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid rgb(108, 108, 108);
    text-align: left;
}


/* Styling of the invite button */
.invitebutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #00BCEF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(56, 56, 56);
    background-color: #f5dfa9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(83, 83, 83);
}
.invitebutton:hover {
    background-color: #fdd369;
}
.invitebutton:active {
    background-color: #fdd369;
    box-shadow: 0 5px rgb(59, 59, 59);
    transform: translateY(4px);
}
}